 @import "https://use.typekit.net/ayo1qmx.css";
            body {
                background: #1c2e4a url("pattern.png");
                color: white;
                font-family: loyola;
                text-align: center;
            }
            .under-maintenance {
                position: fixed;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
            }
            img {
                width: 100%;
                max-width: 500px;
                margin: 0 0 10px 0;
            }
            h1, p {
                margin: 5px 0;
            }
            h1 {
                text-transform: uppercase;
                font-weight: 700;
                line-height: 1;
            }
            p {
                font-weight: 500;
            }
            a, a:link, a:visited {
                color: white;
                font-weight: 700;
                font-size: 16pt;
            }
            .footer {
                width: 90%;
                font-size: 15px;
                height: 50px;
                overflow-y: auto;
                position: fixed;
                bottom: 5px;
                left: 5%;
            }

.navbar {
  background-color: #182438;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 80px;
  max-width: 990px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.nav-link {
  padding: 15px 10px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: 'Proxima Nova', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif, sans-serif;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.nav-link:hover {
  color: #fed004;
}

.logo {
  margin-right: 20px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.nav-btn {
  background-size: 1px 148px;
  background-image: linear-gradient(180deg, #FFE477 0%, #FFCC00 50%, #FFCC00 100%);
  border: 1px solid #FF9D00;
  box-shadow: inset 0 2px 0 0 #FFF7D7;
  border-radius: 8px;
  padding: 7px 35px 5px 35px;
  font-family: 'BurbankSmall', sans-serif;
  color: #6e4e00;
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
  transition: all 200ms ease;
  text-shadow: #fff 0 1px 0;
  text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
  -webkit-transition: background .3s ease-out;
  -moz-transition: background .3s ease-out;
  -o-transition: background .3s ease-out;
  transition: background .3s ease-out;
}

.nav-btn:hover {
  background-position: 50px;
}

.nev-menu-links {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.whatsnew-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 240px;
  margin: -20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.whatsnew-info {
  width: 50%;
  height: 100%;
  padding-bottom: 20px;
  background-color: #193c75;
}

.module-content {
  overflow: hidden;
  min-height: 240px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.15);
}

.module-header.wn-head {
  margin: 0px;
}

.header-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0px;
  padding: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.header-title {
  display: inline;
  font-weight: bold;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.wn-content {
  padding: 20px 20px 0px;
  color: #fff;
}

.wn-list-container ul {
  padding-left: 20px;
}

#billboards-holder {
  position: relative;
  min-height: auto;
}
#billboards-holder #billboards {
  background-color: #193c75;
  width: auto;
  margin: -20px;
}

h-wrapper {
  overflow: hidden;
  width: 100%;
  max-width: 990px;
  margin: 20px auto;
}
