@import "https://use.typekit.net/ayo1qmx.css";
            body {
                background: #1c2e4a url("assets/images/pattern.png");
                color: white;
                font-family: loyola;
                text-align: center;
            }
            .under-maintenance {
                position: fixed;
                top: 50%; left: 50%;
                transform: translate(-50%, -50%);
                width: 80%;
            }
            img {
                width: 100%;
                max-width: 500px;
                margin: 0 0 10px 0;
            }
            h1, p {
                margin: 5px 0;
            }
            h1 {
                text-transform: uppercase;
                font-weight: 700;
                line-height: 1;
            }
            p {
                font-weight: 500;
            }
            a, a:link, a:visited {
                color: white;
                font-weight: 700;
                font-size: 16pt;
            }
            .footer {
                width: 90%;
                font-size: 15px;
                height: 50px;
                overflow-y: auto;
                position: fixed;
                bottom: 5px;
                left: 5%;
            }
